:root{
    --cor-primaria: #ee4d2d;
    --gradiente-primario: linear-gradient(to right, #ee4d2d, #ff7337);
}
header{
    background: var(--gradiente-primario);
    position: fixad;
    top: 0;
    right: 0;
    left: 0;
}
nav{
    display: flex;
    justify-content: space-between;
}
nav>ul{
    margin: 0;
    display: flex;
}
nav>ul>li{
    list-style: none;
    padding: 0;
}
nav>ul>li>a{
    padding: 0px 15px;
}
.header-links>a{
    padding: 0px 15px;
}