:root{
    --cor-primaria: #ee4d2d;
    --gradiente-primario: linear-gradient(to right, #ee4d2d, #ff7337);
}
header{
    background: var(--gradiente-primario);
    position: fixad;
    top: 0;
    right: 0;
    left: 0;
}