:root{
    --cor-primaria: #ffffff;
    --gradiente-primario: linear-gradient(to right, #8469ff, #831be4);
}
header{
    background: var(--gradiente-primario);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 120px;
}
nav{
    display: flex;
    justify-content: space-between;
}
nav>ul{
    margin: 0;
    display: flex;
}
nav>ul>li{
    list-style: none;
    padding: 0;
}
nav>ul>li>a{
    padding: 0px 15px;
}
.header-links>a{
    padding: 0px 15px;
}